body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-style: italic;
    font-weight: bold;
}

.main-section, .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('images/web_development_is_important.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section {
    justify-content: flex-end;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}
